body {
    margin: auto;
    font-family: 'Book Antiqua', serif;
    font-size: 20pt;
    background-image: url("images/fork_and_spoon.jpg");
    background-position: left;

}

.page-header image {
    color: black;
    position: relative;

}

.navbar {
    font-size: 16pt;
    color: white;

}


.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;

}

.row {
    text-align: center;
}
.navbar-nav p {
    text-align: right;
    float:none;
    font-size: 18pt;
}

.navbar-nav a:hover {
    text-decoration: underline;
}


.jumbotron {
    background-color: #0a1010;
    color: #9d9d9d;
    font-family: 'Lora', serif;
    box-shadow: 10px 10px 5px #132020;

}

.jumbotron p{
    padding-right: 20px;
    color: white;
}

#tip {
    font-size: 14pt;
}

#Mesto {
    font-size: 14pt;
}

.glyphicon {
    color:white;
}

.podaci {
    margin-left: 50px;
    height: auto;
    width: 600px;
    float: left;
}

.podaci h1{

    font-size: 50pt;
    font-family: 'Parisienne', cursive ;
}

.radno_vreme {
    float: left;
    padding-left: 100px;
    padding-right: 80px;
}

.o_nama {
    margin-left: 60px;
    width: 1000px;

}

.location {
    float: left;
    margin-left: 50px;
}

.location p{
    font-size: 25pt;
    font-weight: bold;
}

.location iframe {
    box-shadow: 10px 10px 5px #888888;
    border: 2px solid black;
}
